/*Estilos para los avisos y form*/
.respuesta {
    color: white;
}

#solRechazada {
    background-color: red;
}

#solAceptada {
    background-color: #1de840;
}

#solPendiente {
    background-color: #e8b71d;
}

#noEnviada {
    background-color: #6d93ff;
}

.estadoSol {
    border-radius: 5px 5px 5px 5px;
}

/**********************/

/*************** Botones de cierre de los bloques de info ****************/

/*#cerrarMisDatos {
    width: 10px;
    margin-left: 95%;
    margin-top: -40px;
    color: red;
}

#cerrarMisDatos:hover {
    font-size: 25px;
}
*/
#altaBajaConciertos {
    width: 585px;
    border: 1px black solid;
    padding-bottom: 25px;
    padding-left: 15px;
    background-color: #3b726c;
    margin-left: 16.5%;
    margin-top: 50px;
}

#altaBajaConciertos h1 {
    background-color: #65aaa1;
    width: 102.5%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -15px;
    margin-top: 0px;
}

#altaBajaConciertos table th {
    background-color: #65aaa1;
}

#listadoConciertosAceptados {
    width: 515px;
    border: 1px black solid;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: #3b726c;
    margin-left: 50px;
    margin-top: 50px;
}

#listadoConciertosAceptados h1 {
    background-color: #65aaa1;
    width: 104.8%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
}

#listadoConciertosAceptados table th {
    background-color: #65aaa1;
}

.datosBasicos {
    background-color: white;
}

/**********************************************/


