#opciones {
    top: -20px;
}
#datos h1 {
    text-align: center;
    background-color: #65aaa1;
    height: 45px;
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*#cerrarMisDatos {
    width: 10px;
    margin-left: 96%;
    margin-top: -52px;
    color: red;
}

#cerrarMisDatos:hover {
    font-size: 25px;
    margin-top: -54px;
}*/

#alta-concierto{
    width: 350px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-left: 25px;
    margin-top: 50px;
    background-color: #3b726c;
}

#alta-concierto h1 {
    background-color: #65aaa1;
    width: 107%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
}

#alta-concierto label {
    color: white;
}

#baja-concierto {
    width: 465px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: #3b726c;
    margin-left: 25px;
    margin-top: 50px;
}

#baja-concierto h1 {
    background-color: #65aaa1;
    width: 105.3%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
}

#cancelar:hover {
    background-color: #ff2400;
    border-color: #ff2400;
}


#listado-conciertos-propuestos {
    width: 630px;
    padding-bottom: 25px;
    padding-left: 17px;
    margin-left: 25px;
    margin-top: 50px;
    background-color: #3b726c;
}

#listado-conciertos-propuestos h1 {
    background-color: #65aaa1;
    width: 102.7%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -17px;
    margin-top: 0px;
}

#listado-conciertos-propuestos th {
    background-color: #65aaa1;
}

#listado-conciertos-propuestos table td {
    background-color: white;
}

#baja-concierto h1 {
    background-color: #65aaa1;
    width: 105.3%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
}

#baja-concierto table th {
    background-color: #65aaa1;
}

#baja-concierto table td {
    background-color: white;
}

#listadoPropuestas {
    width: 340px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-left: 39%;
    margin-top: 50px;
    background-color: #3b726c; 
}

#listadoPropuestas h1 {
    background-color: #65aaa1;
    width: 107.3%;
    padding-top: 12px;
    height: 55px;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
}

#listadoPropuestas table th {
    background-color: #65aaa1;
}

#listadoPropuestas table td {
    background-color: white;
}

#aceptar:hover {
    background-color: #1de840;
    border-color: #1de840;
}

.cierre {
    height: 20px;
    width: 20px;
    margin-left: 95%;
    color: red;
}

.cierre:hover {
    font-size: 25px;
}


