html{
    background-color: #cccccc;
}

div, articale, section, aside, header, nav {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
}

header {
    border: 1px black solid;
    height: 100px;
    position: fixed;
    margin-top: -8px;
}
#logo{
    width: 100px;
    height: 100px;
}

#logoImg{
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

#logoImg:hover{ 
    filter: drop-shadow(0px 0px 15px black);
    transition: 0.5s;
}

#logoIntro{
    display:block;
    margin: auto;
    margin-top: 100px;
    transition: 0.6s;
    height: 400px;
    width: 400px;
    filter: drop-shadow(0px 0px 20px black);
}

#logoIntro{
    animation: latido;
    animation-duration: 0.9s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#logoIntro:hover{
    animation-play-state: running;
}
td,th{
    text-align: center;
    border-collapse: collapse;
    width: 90px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
table{
    border-collapse: collapse;
    font-family: serif;
    border: 1px black solid;
    font-family: monospace;
}
tr:nth-child(2n){
    background-color: #7bb2b0;
}
tr:nth-child(2n-1){
    background-color: #a0c5bd;
}

@keyframes latido {
    0%{
        transform: scale(1);
        filter: drop-shadow(0px 0px 30px black) grayscale(50%);
    }
    20%{
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 60px black) grayscale(0%);
    }
    40%{
        transform: scale(1);
        filter: drop-shadow(0px 0px 30px black) grayscale(50%);
    }
    60%{
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 60px black) grayscale(0%);
    }
    80%{
        transform: scale(1);
        filter: drop-shadow(0px 0px 30px black) grayscale(50%);
    }
    100%{
        transform: scale(1);
        filter: drop-shadow(0px 0px 30px black) grayscale(50%);
    }
}

.easterEgg{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oxanium';
}

#leido{
    color: white;
    text-decoration: none;
    text-shadow: black 0px 0px 2px,   black 0px 0px 2px,   black 0px 0px 2px,
        black 0px 0px 2px,  black 0px 0px 2px,   black 0px 0px 2px;
    transition: 0.5s;
}

#leido:hover{
    font-size: 33px;
    transition: 0.5s;
}

h1{
    width: 300px;
    display: inline-block;
    margin-left: 34%;
    margin-top: 16px;
    font-size: 50px;
    font-family: 'Quantico';
    font-weight: bold;
}
#main{
    margin-top: 94px;
    height: 2000px;
    border: 1px black solid;
}

#login{
    display: inline-block;
    width: 87px;
    margin-top: 16px;
    text-align: center;
    margin-left: 28%;
}
#login>input{
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
}

aside {
    border: 1px black solid;
    height: 1998px;
    display: inline-block;
    width: 24%;
}

aside>ul{
    margin-top: 20px;
    list-style-type: none;
}
aside>ul>li{
    margin-top: 30px;
    font-family: 'Oxanium';
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

aside>ul>li:hover{
    font-size: 30px;
    color: dodgerblue;
    transition: 0.3s;
}

#lista {
    width: 75%;
    height: 1998px;
    display: inline-block;
}
.concierto {
    border: 1px black solid;
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

section img{
    width: 100%;
    height: 100%;
}

#boton-login:hover{
    transition: 0.3s;
    text-shadow: white 0px 0px 5px,white 0px 0px 5px;
}

#botones{
    margin-left: 274px;
    margin-top: 17px;
    width: auto;
    height: auto;
    display: inline-block;
}

#boton-login{
    width: 120px;
    height: 30px;
    font-size: 20px;
    transition: 0.3s;   
    color: white;
    background-color: black;
    border-radius: 10px;
}

#boton-registro:hover{
    transition: 0.3s;
    text-shadow: white 0px 0px 5px,white 0px 0px 5px;
}

#boton-registro{
    width: 120px;
    height: 30px;
    font-size: 20px;
    transition: 0.3s;   
    color: white;
    background-color: black;
    border-radius: 10px;
}