html,body{ 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes sombra {
    0%{
        box-shadow: 0px 0px 40px black;
    }
    20%{
        box-shadow: 0px 0px 50px black;
    }
    40%{
        box-shadow: 0px 0px 60px black;
    }
    60%{
        box-shadow: 0px 0px 50px black;
    }
    80%{
        box-shadow: 0px 0px 40px black;
    }
    100%{
        box-shadow: 0px 0px 30px black;
    }
}

html{ 
    width: 100%;
    height:100%; 
    overflow:hidden;
}

html,body{
    text-align: center;
}

h1{
    text-shadow: white 0px 0px 10px,white 0px 0px 10px;
    word-spacing: 10px;
    font-family: 'Quantico';
    font-size: 65px;
    transition: 0.3s;
    font-weight: bold;
}

h1:hover{
    text-shadow: white 0px 0px 15px,white 0px 0px 15px;
    transition: 0.3s;
}

input{
    text-shadow: white 0px 0px 3px,white 0px 0px 3px;
    font-family: 'Oxanium';
    text-align: center;
    font-size: 20px;
    border-style: none;
} 

::placeholder {
    color: white;
    text-align: center;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
        #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

#inp1:hover{
    outline: none;
    width: 140px;
    font-size: 40px;
    transition: 0.4s;
}

#inp1{
    font-size: 30px;
    width: 140px;
    outline: none;
    height: 30px;
    transition: 0.4s;
    background-color: transparent;
}

#inp2:hover{
    outline: none;
    width: 180px;
    font-size: 40px;
    transition: 0.4s;
}

#inp2{
    font-size: 30px;
    width: 140px;
    outline: none;
    height: 30px;
    transition: 0.4s;
    background-color: transparent;
}

#inp3:hover{
    text-shadow: white 0px 0px 10px, white 0px 0px 10px;
    outline: none;
    transition: 0.3s;
}

#inp3{
    width: 130px;
    height: 40px;
    font-size: 27px;
    transition: 0.3s;   
    color: white;
    background-color: black;
    border-radius: 10px;
}

a{
    text-shadow: white 0px 0px 1px,   white 0px 0px 1px,   white 0px 0px 1px,
        white 0px 0px 1px,   white 0px 0px 1px,   white 0px 0px 1px;
    font-family: 'Quantico';
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}

a:hover{
    text-shadow: black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px,
        black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

#login {
    animation: sombra;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 480px;
    background: rgba(3,3,3,0.15);
    box-shadow: 0px 0px 30px black;
    border-radius: 30px;
}
