html{ 
    width: 100%;
    height:100%; 
    overflow:hidden;
}
html,body{
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff5050, #f13535, #eeba51, #eee351, #6ff085, #6fe3f0, #6d93ff, #e66df3, #e64ef7);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes sombra {
    0%{
        box-shadow: 0px 0px 40px black;
    }
    20%{
        box-shadow: 0px 0px 50px black;
    }
    40%{
        box-shadow: 0px 0px 60px black;
    }
    60%{
        box-shadow: 0px 0px 50px black;
    }
    80%{
        box-shadow: 0px 0px 40px black;
    }
    100%{
        box-shadow: 0px 0px 30px black;
    }
}

h1{
    text-shadow: white 0px 0px 5px;
    font-family: 'Quantico';
}

body{
    font-family: 'Oxanium';
    text-align: center;
    margin-top: 2%;
}

.passwrd{
    width: 316px;
    height: 30px;
    box-shadow: black 0px 0px 10px;
}

select,input{
    box-shadow: black 0px 0px 2px;
    text-align: center;
    background-color: transparent;
    border: 1px black solid;
    outline: none;
}

select{
    background-color: black;
    color: white;
}

label{
    font-weight: bold;
}

::placeholder{
    text-align: center;
    color: #333333;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 5px double black;
    color: black;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 20px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.submit{
    font-size: 17px;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: white 0px 0px 5px;
    height: 35px;
    width: 120px;
    transition: 0.2s;
}

.submit:hover{
    box-shadow: white 0px 0px 10px, white 0px 0px 10px;
    transition: 0.2s;
}

a{
    font-family: 'Quantico';
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}

a:hover{
    font-size: 20px;
}

#modificarDatos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 0px;
    width: 400px;
    height: 570px;
    background: rgba(3,3,3,0.15);
    box-shadow: 1px 1px 50px black;
    border-radius: 30px;
    animation: sombra;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#modificarPass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 450px;
    background: rgba(3,3,3,0.15);
    box-shadow: 1px 1px 50px black;
    border-radius: 30px;
    animation: sombra;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#fotoActual{
    position: absolute;
    border-radius: 5px;
    height: 300px;
    width: 300px;
}

#subirFoto{
    opacity: 0;
    position: relative;
    height: 300px;
    width: 300px;
}