/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mar. 2020, 11:04:01
    Author     : Arnau Guamis
*/
body{
    background-color: white;
}
#containerLogin {
    left: 0;
    width: 100%;
    position: absolute;
    top: 87px;
}
#cont {
    left: 0;
    width: 100%;
    position: absolute;
    top: 87px;
}
.enviar{
    border: none;
    outline: none;
    color: white;
    background-color: #003135;
    height: 22px;
    width: 120px;
}
#signup{
    margin: 0 25px 0px 25px;
}
#fondo{
    position: absolute;
    width: 100%;
    height: 800px;
    text-align: center;
    left: 0;
    background: #000000d4;
    z-index: 1;
}
/*#container{
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
}*/
::placeholder { color: #217371 } 
#formLogin{
    margin: 0 auto;
    position: relative;
    top: 60px;
    background: rgb(0, 81, 86);
    width: 320px;
    border-radius: 3px;
    z-index: 2;
    padding: 11px 0 0 0;
}

#formLogin input {
    height: 27px;
    width: 88%;
    padding: 0 0 0 8px;
    margin: 7px 0 10px 0;
    background-color: #003137;
    color: white;
    border: none;
    outline: none;
}

#formLogin button{
    width: 100px;
    margin-top: 18px;
    font-family: montserrat;
    border-radius: 3px;
    height: 25px;
    background-color: #003135;
    color: white;
    border: 1px;
    outline: none;
}
#resultado{
    margin: 15px 0 15px 0px;
}

#formLogin p{
    color: white;
}

@media screen and (max-width: 700px){

}

.sliderBox{
    margin-top: 20px;
    height: 450px;
    width: 1025px;
}

.slider img{
    margin: auto;
    height: 350px;
    width: 650px;
    box-shadow: 0px 5px 20px 6px #000000;
    background-size: cover;
    background-position: center;
    margin-bottom: 35px;
}

.datosSlider h1{
    margin: 0px;
}

.slider slick-slide{
    width: 1025px;
}