/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mar. 2020, 18:31:01
    Author     : Arnau Guamis
*/
#votarConciertos{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#votarConciertos table{
    margin-top: 10px;
}

#votarMusicos{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#votarMusicos table{
    margin-top: 10px;
}

#solicitudes{
    background-color: #6b6b6b;
    padding: 5px 5px 0px 5px;
    border-radius: 6px;
    display: none;
    position: absolute;
    left: 325px;
    top: 187px;
}
#containerSolicitantes{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


#solicitudes td>div{
    color: #19ce19;
    cursor: pointer;
}

#inscribirse{
    border-radius: 4px;
    width: 108px;
    height: 19px;
    padding: 3px 0 0 0;
    font-size: 13px;
    color: white;
    background-color: #61908b;
    margin-right: 5px;
}

#desapuntarse{
    border-radius: 4px;
    width: 108px;
    height: 19px;
    padding: 3px 0 0 0;
    font-size: 13px;
    color: white;
    background-color: #3b726c;
    margin-right: 5px;
    cursor: pointer;
}

#conciertosPropuestos{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
#altaBajaConciertos{
    width: 100%;
}
#conciertosPropuestos h1{
    color: #005156;
}

#resultadoConcierto{
    border: 1px black solid;
    height: 30px;
    width: 200px;
}

#misConciertos{
    width: 70%;
    text-align: center;
}
#listado-conciertos-propuestos{
    margin-left: 40px;
    margin-top: 4px;
}
#listado-conciertos-propuestos h1{
    color: #005156;
}
#resultadoAltaConcierto{
    width: 80%;
    height: 15px;
}



#crearConciertoButton{
    height: 27px;
    width: 42%;
    background-color: #005156;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: -10px 0 15px 0;
}


::placeholder { color: black }
#alta-concierto input, #alta-concierto select{
    height: 27px;
    width: 90%;
    padding: 0 0 0 8px;
    margin: 7px 0 10px 0;
    background-color: #eaeaea;
    color: black;
    border: none;
    outline: none;
    border-radius: 3px;
}
#alta-concierto h2{
    margin: 0;
    color: #005156;
}

#alta-concierto{
    text-align: center;
    position: absolute;
    right: 20px;
    top: 100px;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
}

#alta-concierto h2{
    margin-bottom: 12px;

}
div,p{
    display: inline-block;
    font-family: montserrat;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
img{
    height: 100%;
    margin: -1px 0px 0 7px;
}
#barraSuperior{
    width: 100%;
    height: 70px;
    box-shadow: 1px -2px 10px #000;
    background-color: rgb(0, 81, 86);
    /*    background: linear-gradient(to right, black 46px, #217371 287px);*/
}
#barraSuperior p{
    color: white;
    text-shadow: -1px 1px 0px black;
}
#barraSuperior p:hover{
    cursor: default;
}
.cursorMano{
    cursor: pointer;
}
#container{
    width: 100%;
    height: 650px;
    background-color: white;
}
#logoImg{
    height: 100%;
    width: 20%;
    text-align: left;
}
#restoBarra{
    height: 100%;
    width: 80%;
    position: relative;
    text-align: right;
    top: -30px;
}
#username{
    margin-right: 10px;
}
#valinor {
    position: absolute;
    top: 2px;
    font-size: 20px;
    left: 77px;
}
#restoBarra>img{
    height: 57%;
    position: relative;
    top: 15px;
    right: 17px;
    margin-left: 20px;
    transition: 0.1s;
}
#restoBarra>img:active{
    height: 50%;
    top: 13px;
    margin-left: 22px;
    margin-right: 3px;
    transition: 0.1s;
}
#usuario{
    height: 163px;
    width: 188px;
    position: absolute;
    top: 66px;
    right: 20px;
    display: none;
    padding: 5px;
    background-color: #9fd6ce;
    border-radius: 2px;
}
#opciones{
    margin: 12px 0px 0px 0px;
    font-size: 15px;
    position: relative;
    top: -30px;
    left: 10px;
}
#opciones>p{
    width: 188px;
    padding-left: 10px;
    margin-left: -15px;
    margin: 5px 0 5px -15px;
    height: 30px;
    transition: 0.2s; 
}
#opciones>p:active{
    background-color: #9cd2ca;

}
#opciones>p:hover{
    background-color: #65aaa1;
    font-size: 16px;
    transition: 0.2s;
}
#opciones>p:active>a{
    font-size: 15px;
    margin-top: 2px;
}
#opciones>p>a{
    position: relative;
    top: 6px;
}

#triangulo{
    width: 0;
    height: 0;
    border-bottom: 8px solid #9fd6ce;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    margin-left: 171px;
    top: -20px;
}
.opciones{
    margin-left: 25px;
    font-size: 14px;
}
#barrita{
    margin: 0 15px 0 15px;
}
table input{
    background: none;
    border: none;
    font-family: montserrat;
    color: black;
}
tr{
    height: 30px;
}
td,th{
    border: 1px;
    width: 89px;
    border-bottom: 3px white solid;
}
#solicitudes td{
    background-color: #383838;
    color: white;
    border-bottom: 3px #6b6b6b solid;
}
th{
    background-color: #3b726c;
    color: white;
    font-size: 14px;
    font-weight: normal;
    height: 27px;
    border: none;
}
td{
    font-size: 12px;
    background-color: #eaeaea;
    text-align: center;
    color: black;
    height: 32px;
}

#listaMusicos td, #listaMusicos th{
    width: 90px;
}
table{
    border: none;
    border-collapse: collapse;
    margin: auto;
}

#listaLocales,#listaMusicos{
    width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    display: none;
}
#subValinor{
    position: absolute;
    font-size: 10px;
    top: 34px;
    left: 85px;
}

tr td:first-child{
    border-radius: 5px 0px 0px 5px;
}
tr td:last-child{
    border-radius: 0px 5px 5px 0px;
}
table tr:nth-child(2) td:first-child{
    border-radius: 0px 0px 0px 5px;
}
table tr:nth-child(2) td:last-child{
    border-radius: 0px 0px 5px 0px;
}

#solicitudes{

}
@media screen and (max-width: 1050px){
    #alta-concierto{
        position: initial;
        margin: 0 auto;
        top: 0;
    }
    #listado-conciertos-propuestos{
        margin-left: auto;
    }
    #misConciertos{
        width: 100%;
    }

}
