div, articale, section, aside, header, nav {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
}

body {
    margin: 0;
}

header {
    height: 90px;
    background: teal;
    width: 100%;
}

/*************************Botón del menu y el menu*****************************/
#barraSuperiorBloque1 {
    width:33.3%;
}

#capsulaBoton {
    width: 75px;
    height: 75px;
    background-color: black;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 8px 8px 8px 8px;
}

#botonMenu {
    width: 63px;
    height: 55px;
    background-color: black;
    position: relative;
    margin: 27px auto;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: 8%;
    margin-top: 19%;
}

#botonMenu span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#botonMenu span:nth-child(1) {
    top: 0px;
}

#botonMenu span:nth-child(2),#botonMenu span:nth-child(3) {
    top: 18px;
}

#botonMenu span:nth-child(4) {
    top: 36px;
}

#botonMenu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#botonMenu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#botonMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#botonMenu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}   

#menu {
    width: 350px;
    margin: 3% auto;
    background: #99bab4;
    border-radius: 0px 0px 5px 0px;
    font-weight: 100;
    margin-top: 90px;
    font-size: 18px;
    position: absolute;
    left: -550px;
}

#menu>ul{
    margin: 0;
    padding: 0;
}

#menu>ul>li {
    list-style: none;
    text-align: left;   
}

#menu>ul>li:hover {
    background-color: #65aaa1; 
    font-size: 21px;
}

#menu>ul>li>a{
    padding: 27px 27px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: black;
}

#menu>ul>li>a:hover{
    color: white;
}

/*********************************************************************/

/*************************Parte del título y logo *****************************/

#barraSuperiorBloque2 {
    width: 33.3%;
    margin-top: -12px;
    text-align: center;
    position: absolute;
}

#titulo{
    font-size: 55px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: -3%;
    width:47%;
    font-family: sans-serif;
    display: inline-block;
    color: white;

}

#barraSuperiorBloque2 img {
    height: 110px;
    width: 110px;
    display: inline-block;  
    margin-left: -15%;
}

/*********************************************************************/

/*********Botón visualizar datos y modificaciones apretando foto ************/
#barraSuperiorBloque3 {
    width: 33.3%;
}

#misDatos {
    display: inline-block;
    height: 40px;
    width: 150px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    top: 3%;
    right: 7%;
    position: absolute;
}

#barraSeparadora {
    display: inline-block;
    height: 40px;
    width: 2px;
    background-color: black;
    position: absolute;
    top: 25px;
    right: 4%;
    margin-right: 65px;
}

#misDatos:hover {
    color: white;
}

#capsulaFoto {
    width:90px;  
    height:90px;
    background-color: teal;
}

#fotoPerfil{
    position: absolute;
    top: 8px;
    right: 16.5px;    
    width: 75px;
    height: 75px;
    border-radius: 4px 4px 4px 4px;
    background-color: lightgrey;     
}

#fotoPerfil:hover{
    top: 4px;
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#fotoPerfil img {
    height:100%;
    width:100%;
}

#usuario{
    height: 210px;
    width: 200px;
    position: absolute;
    top: 112px;
    right: 35px;
    display: none;
    background-color: #9fd6ce;
    border-radius: 2px;
}

#opciones{
    margin: 12px 0px 0px 0px;
    font-size: 14px;
    position: relative;
    top: -30px;
    left: 0px;
}

#opciones>ul{
    margin: 0;
    padding: 0;
}

#opciones>ul>li {
    list-style: none;
    text-align: left;   
}

#opciones>ul>li:hover {
    background-color: #65aaa1; 
    font-size: 15px;
}

#opciones>ul>li>a{
    padding: 18px 24px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: black;
}

#opciones>ul>li>a:hover{
    color: white;
}

#triangulo{
    width: 0;
    height: 0;
    border-bottom: 8px solid #aee0d8;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    margin-left: 171px;
    top: -20px;
}

/*********************************************************************/


/********* Tabla de datos ************/
#main{
    display: inline-block;
    width: 100%;
    font-size: 20px; 
    text-align: center;
}

#table {
    text-align: center;
}

#datos h1 {
    text-align: center;
    background-color: #65aaa1;
    height: 55px;
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#datos {
    margin-top: 50px;
    width:27%;
}

#datos table {
    width: 450px;
}

/*************************************************************/

