

div, articale, section, aside, header, nav {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

body {
    text-align: center;
}

/*Recuadro general*/
#cuerpo {
    background-color: white;
    margin-top: 200px;
    width: 900px;
    height:500px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    border: 2px black solid;
}

/***************************/

/*Logo y titulo*/
#logo {
    width: 210px;
    height: 210px;
    display: inline-block;
}
#logo img{
    display: inline-block;
    height: 210px;
    width: 210px;
}

#titulo {
    display: inline-block;
    width: 465px;
    font-size: 76px;
    height: 100px;
    margin-left: -56px;
    margin-top: 55px;
    color: black;
}

/***************************/

/*Recuadro del mensaje y su contenido*/

#denegado {
    background-color: black;
    color: white;
    display: inline-block;
    width:75%;
    height:200px;
    border-radius: 8px 8px 8px 8px;
}


#denegado > img {
    height:100px;
    width: 100px;
    display: inline-block;
    margin-top: 47px;
}


#nologueado {
    display: block;
    font-size: 18px;
    font-weight: bold;
    height:40px;
    width:70%;
    display: inline-block;
    margin-top: 47px;
}

/***************************/

/*fondo de pantalla*/
html,body{ 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/***************************/