/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mar. 2020, 9:53:36
    Author     : Arnau Guamis
*/
body{
    text-align: center;
}
#cont p,#cont input{
    display: inline-block;
}
#cont p{
    margin: 8px 0px 2px 0;
    width: 100%;
    text-align: left;
    font-family: montserrat;
    font-size: 14px;
    padding-left: 10px;
    color: white;
}
#cont input,#cont select{

    width: 94%;
    height: 25px;
    background-color: #003135;
    color: white;
    border: none;
    outline: none;

}
#cont select>option:nth-child(2n){
    background-color: #003f44;
}

::placeholder { color: #217371 }   
#cont input{
    padding-left: 8px;
    margin-top: 17px;
    border: 0;


}

.enviar{
    width: 200px;
    margin-top: 18px;
    font-family: montserrat;
    border-radius: 3px;
}
#global{
    width: 260px;
    padding: 0 10px 10px 10px;
    border-radius: 4px;
    margin: 0px auto;
    margin-top: -23px;
    background-color: #005156;
    position: relative;
    z-index: 2;
}
#buttons{
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(0, 49, 53);
    border-radius: 5px;
    height: 37px;
}
#buttonFan{
    border-radius: 4px 0 0 0;
}
#buttonMusico{
    border-radius: 0 4px 0 0;
}
#buttons>*{
    width: 33.334%;
    border: none;
    height: 40px;

}
#buttons{
    width: 107.5%;
}
button{
    outline: none;
    font-family: montserrat;
    color: white;
}
#cont{
    width: 100%;
    height: auto;
    text-align: center;
}
#resultadoRegistro{
    margin-top: 10px;
    height: 20px;
    width: 240px;
    color: white;
}